
#body-inner {
    max-width: 800px;
    margin: 5rem auto;
}

#body-inner > * {
    text-align: left !important;
}

#body-inner h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--MAIN-TITLES-TEXT-color) !important
}

#body-inner h2 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--MAIN-TITLES-TEXT-color) !important
}

h1.logo-head {
    font-size: 1rem;
    font-weight: bold;
}

#body a[rel="license"] img {
    margin: 0;
}

/* Homepage */
#body a.homepic img {
    width: 80%;
    margin: 0;
}
b, strong, label, th {
    font-weight: 400;
}


